<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/nav.ejs') %> 
    <%- include('partials/loginModal.ejs') %> 
    <%- include('partials/registerModal.ejs') %>     
    <main class="blogSection">
        <div class="blogMainSection">
            <h3>Top Readings</h3>
            <div class="successAlert">
                <p>Article deleted successfully</p>
                <span onclick="this.parentNode.style.display='none'">X</span>
            </div>
            <div class="blogs">
                
            </div>
        </div>
        <div class="blogSideBar">
            <h3>Search</h3>
            <form action="">
                <input type="text" name="" id="" placeholder="Search" class="searchInput">
            </form>
            <h3>Tags</h3>
            <div class="tags">
                <div><a href="" class="singleTag">Javascript</a></div>
                <div><a href="" class="singleTag">Web Dev</a></div>
                <div><a href="" class="singleTag">Hmtl 5</a></div>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>
    <script src="../../js/firebase.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>