<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/nav.ejs') %> 
    <%- include('partials/loginModal.ejs') %> 
    <%- include('partials/registerModal.ejs') %>     
    <main class="contactMainSec">
       <div class="contactLeftSec">
           <h3>How To Get to us</h3>
           <p>
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque laudantium nostrum, quod sequi blanditiis excepturi, exercitationem pariatur optio quasi officia officiis veritatis inventore repellendus expedita omnis dolorem ea consequatur nam?
           </p>
           <ul>
               <li><img src="../images/location icon.png" alt=""> Kigali/Rwanda 316st</li>
               <li><img src="../images/phone.png" alt=""> +250788451691</li>
           </ul>
       </div> 
       <div class="contactRightSec">
           <h3>Text me directly</h3>
           <form id="contactForm">
               <div class="successBox">
                   <p>Thanks for your Message we'll contact you soon</p>
                   <span class="closer" onclick="this.parentNode.style.display='none'">X</span>
               </div>
               <div class="errorBox" id="AllErrorBox">
                   <p>Please fill all inputs</p>
                   <span class="closer">X</span>
               </div>
               <div class="formGroup formGroup2">
                    <input type="text" name="" id="firstName" class="myInput input2" placeholder="First name">
                    <input type="text" name="" id="lastName" class="myInput input2" placeholder="Last name">
               </div>
               <div class="errorBox" id="emailErrorBox">
                   <p>Please enter a valid email</p>
                   <span class="closer">X</span>
                </div>
               <div class="formGroup">
                   <input type="text" name="" id="email" class="myInput" placeholder="Email">
               </div>
               <div class="errorBox" id="messErrorBox">
                   <p>Please enter a message more than 20 characters</p>
                   <span class="closer">X</span>
                </div>
               <div class="formGroup">
                   <textarea name="" id="message" cols="30" rows="10" class="myInput" placeholder="YOur message..."></textarea>
               </div>
               <div class="formGroup">
                   <button type="submit" class="myInput submitBtn">Submit</button>
               </div>
           </form>
       </div> 
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>

    <script src="../../js/firebase.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/contact.js"></script>
</html>