<%- include('pages/partials/header.ejs'); %>
<body>
    <%- include('pages/partials/nav.ejs') %> 
    <%- include('pages/partials/loginModal.ejs') %> 
    <%- include('pages/partials/registerModal.ejs') %>     
    
    <section class="topMost">
        <div class="topMostBody">
            <h3>I'am Sebastien</h3>
            <h4>a web developer</h4>
        </div>
    </section>
    <section class="aboutMeSection">
        <h3>About Me</h3>
        <p>
            am Web designer and developer enthusiast,  proffessionalism and love of the outstanding project
            is what drive my energy toward the work and what brings more happy client 
            to me, am always willing to bring more wonderfull design to life.
            am available to work personal and as a team as need.
        </p>
        <div id="myWorkLinkCont">
            <a id="myworklink" href="#projects"><span>My work</span></a>
        </div>
    </section>
    <section class="portifolioSection" id="projects">
        <nav>
            <div>
                <a href="" class="portLinks">Ecommerce</a>
                <a href="" class="portLinks">web developer</a>
                <a href="" class="portLinks">Personal</a>
                <a href="" class="portLinks">Wordpress</a>
                <a href="" class="portLinks">Agency</a>
                <a href="" class="portLinks">Real Estate</a>
            </div>
        </nav>
        <div class="portifolios">
            <div>
                <a href=""><img src="images/port/1.PNG" alt=""></a>
            </div>
            <div>
                <a href=""><img src="images/port/2.PNG" alt=""></a>
            </div>
            <div>
                <a href=""><img src="images/port/3.PNG" alt=""></a>
            </div>
            <div>
                <a href=""><img src="images/port/4.PNG" alt=""></a>
            </div>
            <div>
                <a href=""><img src="images/port/5.PNG" alt=""></a>
            </div>
            <div>
                <a href=""><img src="images/port/6.PNG" alt=""></a>
            </div>
            <div>
                <a href=""><img src="images/port/7.PNG" alt=""></a>
            </div>
            <div>
                <a href=""><img src="images/port/8.PNG" alt=""></a>
            </div>
        </div>
    </section>
    <section class="testMSection">
        <h3>My Clients</h3>
        <div>
            <div class="slider">
                <p>Lorem ipsum dolor sit ame Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <img src="images/seba.png" alt="">
            </div>
            <div class="sliderBars">
                <div class="sliderBar1"></div>
                <div class="sliderBar1"></div>
                <div class="sliderBar1"></div>
                <div class="sliderBar1"></div>
            </div>
        </div>
    </section>
    <%- include('pages/partials/footer')  %> 
    <%- include('pages/partials/scripts')  %> 
       
</body>
</html>